RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://a12.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://a12.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aio.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aio.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://android.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://android.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://api.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://api.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://backup.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://backup.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://baseband.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://baseband.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bot.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bot.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://check.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://check.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dhru.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dhru.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dylibs.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dylibs.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fairplay.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fairplay.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fmi.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fmi.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gsx.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gsx.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mdm.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mdm.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://plist.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://plist.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://purple.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://purple.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ramdisk.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ramdisk.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://reseller.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://reseller.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://signal.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://signal.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sn.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sn.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.a12.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.a12.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aio.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aio.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.android.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.android.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.backup.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.backup.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.baseband.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.baseband.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bot.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bot.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.check.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.check.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dhru.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dhru.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dylibs.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dylibs.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fairplay.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fairplay.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fmi.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fmi.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gsx.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gsx.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mdm.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mdm.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.plist.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.plist.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.purple.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.purple.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ramdisk.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ramdisk.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.reseller.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.reseller.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.signal.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.signal.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sn.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sn.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xapi.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xapi.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xsn.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xsn.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xapi.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xapi.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xsn.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xsn.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://a12.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://a12.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aio.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aio.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://android.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://android.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://backup.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://backup.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://baseband.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://baseband.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bot.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bot.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://check.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://check.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dhru.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dhru.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dylibs.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dylibs.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fairplay.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fairplay.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fmi.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fmi.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gsx.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gsx.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mdm.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mdm.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://plist.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://plist.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://purple.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://purple.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ramdisk.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ramdisk.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://reseller.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://reseller.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://signal.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://signal.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sn.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sn.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.a12.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.a12.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aio.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aio.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.android.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.android.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.backup.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.backup.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.baseband.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.baseband.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bot.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bot.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.check.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.check.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dhru.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dhru.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dylibs.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dylibs.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fairplay.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fairplay.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fmi.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fmi.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gsx.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gsx.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mdm.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mdm.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.plist.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.plist.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.purple.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.purple.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ramdisk.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ramdisk.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reseller.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.reseller.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.signal.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.signal.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sn.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sn.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xapi.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xapi.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xsn.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xsn.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xapi.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xapi.iskorpion.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xsn.iskorpion.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xsn.iskorpion.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

